!!! 5
html
  head
    title Cxxproject
    link(rel='stylesheet', href='../main.css')
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
  body
    #container
      h1 
        a(href='http://github.com/marcmo/cxxproject') Cxxproject
      p.tagline 
        em.simple Simple, 
        em.flexible flexible, 
        em.c_cpp C/C++ 
        em.buildsystem Buildsystem
      #ribbon
        a(href='http://github.com/marcmo/cxxproject') Fork me on GitHub
      ul#menu
        li: a(href='../index.html') Index
        li: a(href='../docs/basic_usage.html') Basic Usage
        li: a(href='../docs/whyruby.html') Why Ruby?
        li: a(href='../docs/tutorial.html') Tutorial
        li: a(href='../docs/tutorial_protobuf.html') Tutorial2
        li: a(href='../docs/wizard.html') Setup-Tool


